.zCollapse,
.zCollapse * {
  box-sizing: border-box;
}
.zCollapse {
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.25s ease-out;
}
.zCollapse .zPanelHd {
  cursor: pointer;
}
.zCollapse.active {
  max-height: 2000px;
  transition: max-height 0.2s ease-in;
}
