
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */

/* line 2 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcWrap >input {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAECAYAAABREWWJAAAAO0lEQVQIW2N0cnJKYGJims+ABfz//3/h3r17E7DJgcQYQQQ2AwhphGtGN4AYjSiaYQYwMjI64HMqshcAmTccBfwoZTYAAAAASUVORK5CYII=") 100% center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  padding-right: 20px;
  cursor: pointer;
  text-overflow: ellipsis;
}

/* line 10 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcWrap >input[readonly] {
  background-color: #fff;
  border: 1px solid #ddd;
}

/* line 13 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd {
  padding: 6px 10px;
}

/* line 15 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd:before,
.zSlcBd:after {
  display: block;
  position: absolute;
  left: 30px;
  margin-left: -6px;
  top: -6px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ddd;
}

/* line 25 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd:after {
  left: 30px;
  margin-left: -5px;
  top: -5px;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

/* line 33 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p {
  margin: 0;
  line-height: 28px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  color: #333;
}

/* line 41 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p:after {
  content: 'ã¸';
  float: right;
  transform: rotateX(180deg);
  font-weight: 700;
  font-size: 10px;
  display: none;
  color: #888;
}

/* line 49 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */

/* line 50 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p:not([disabled]):not([selected]):hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

/* line 53 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p:not([disabled]):not([selected]):hover:after {
  display: block;
}

/* line 55 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p[disabled] {
  opacity: 0.5;
  point-events: none;
  cursor: not-allowed;
}

/* line 59 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p[selected] {
  color: #0e90d2;
}

/* line 61 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p[selected]:after {
  color: #0e90d2;
  display: block;
}

/* line 64 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zSlcBd >p[slcGroup] {
  border-bottom: 1px solid #ddd;
}

/* line 67 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */

/* line 68 : /Users/elvis/bitbucket/tinyUI/public/css/js/select.styl */
.zDropdownUp .zSlcBd:before,
.zDropdownUp .zSlcBd:after {
  display: none;
}
