@import 'style.css'
@import 'params'

.zAlertDanger, .zAlertInfo, .zAlertPrimary, .zAlertWarning, .zAlert, .zAlertSuccess
	box-sizing border-box
	display block
	width 100%
	color #fff
	border 1px solid #dfdfdf
	padding 10px 15px
	box-sizing border-box
	-webkit-font-smoothing auto
	.icon-close
		float right 
		color #dfdfdf
		font-weight 100
		font-size 12px 
		margin-top 2px
		text-shadow 0 1px 0 #fff
		cursor pointer
	*
		box-sizing border-box
		
.zAlert
	background-color #eee
.zAlertWarning, .zAlert.warning
	background-color $warning
	border-color $warning1
.zAlertPrimary, .zAlert.primary
	background-color $primary
	border-color $primary1
.zAlertInfo, .zAlert.info
	background-color $info
	border-color $info1
.zAlertDanger, .zAlert.danger
	background-color $danger
	border-color $danger1
.zAlertSuccess, .zAlert.success
	background-color $success
	border-color $success1
