@import 'params'

.zBreadcrumb, .zBreadcrumbSlash
	list-style-type none
	overflow hidden
	margin-left 0
	padding-left 0
	line-height 2em
	box-sizing border-box
	li
		display inline-block
		float left
		white-space nowrap
		&:before
			content '>'
			color #888
			font-size 12px
			vertical-align middle
			padding-left 8px 
			padding-right 3px
		a 
			text-decoration none
			color inherit
	li:not(.active):hover a
		color $primary1
	li:first-child
		&:before 
			content ''
			padding-left 0
			padding-right 0
	li.active
		color #888
		a
			cursor default
	*
		box-sizing border-box	
.zBreadcrumbSlash
	li 
		&:before
			content '/'