.zBtn, .zBtnPrimary, .zBtnInfo, .zBtnSuccess, .zBtnWarning, .zBtnDanger, .zBtnGray
    text-align center
    height 34px 
    line-height 32px
    padding 0 12px
    display inline-block
    box-sizing border-box
    margin-bottom 0
    font-size 14px
    font-weight 400
    text-align center
    white-space nowrap
    vertical-align middle
    -ms-touch-action manipulation
    appearance none
    user-select none
    touch-action manipulation
    cursor pointer
    user-select none
    background-image none
    border 1px solid transparent
    border-radius 0
    color #fff
    text-decoration none
    display inline-block
    transition box-shadow .2s
    box-sizing border-box
    &:focus
        outline none
    &:hover
        box-shadow inset 0 100px 25px rgba(0, 0, 0, .2)
        text-decoration none
        color #fff
    &:active
        box-shadow inset 0 10px 25px rgba(0, 0, 0, .1)
        text-decoration none
        color #fff
.zBtn
    background-color #e2e2e2
    border-color #d9d9d9
    color #444
    &:hover
        color #444
    &:active
        color #444
.zBtnPrimary
    background-color #0e90d2
    border-color #0c80ba
.zBtnInfo
    background-color #5bc0de
    border-color #46b8da
.zBtnSuccess
    background-color #5eb95e
    border-color #4db14d
.zBtnWarning
    background-color #f37b1d
    border-color #ea6e0c
.zBtnDanger
    background-color #dd514c
    border-color #d93c37
.zBtnGray
    background-color #50636F
    border-color #333
    
.zRadius 
    border-radius 4px
.zCircle
    padding-left 15px 
    padding-right 15px
    border-radius 200px

.zBtn:disabled, .zBtnPrimary:disabled, .zBtnInfo:disabled, .zBtnSuccess:disabled, .zBtnWarning:disabled, .zBtnDanger:disabled, .zBtnGray:disabled
    opacity .45
    cursor not-allowed
    pointer-events none
    &:hover
        box-shadow none
    &:active
        box-shadow none
.zBtn:disabled
    opacity .55
    
.zBadge, .zBadgePrimary, .zBadgeInfo, .zBadgeSuccess, .zBadgeWarning, .zBadgeDanger
    background-color #aaa
    box-sizing border-box
    color #fff
    min-width 24px
    line-height 1.4 
    font-size 12px
    display inline-block
    text-align center
    padding .1em .6em
.zBadgePrimary
    background-color #0e90d2
.zBadgeInfo
    background-color #5bc0de
.zBadgeSuccess
    background-color #5eb95e
.zBadgeWarning
    background-color #f37b1d
.zBadgeDanger
    background-color #dd514c

.xs
    font-size 12px
    height 24px 
    line-height 22px
    padding 0 6px
.sm
    font-size 13px
    height 28px 
    line-height 26px
    padding 0 8px
.lg 
    font-size 15px
    height 38px 
    line-height 36px
    padding 0 18px
.xl
    font-size 16px
    height 42px 
    line-height 40px
    padding 0 25px

.zBadge.xs, .zBadgePrimary.xs, .zBadgeInfo.xs, .zBadgeSuccess.xs, .zBadgeWarning.xs, .zBadgeDanger.xs
    padding .2em .7em
.zBadge.sm, .zBadgePrimary.sm, .zBadgeInfo.sm, .zBadgeSuccess.sm, .zBadgeWarning.sm, .zBadgeDanger.sm
    padding .3em .6em
.zBadge.lg, .zBadgePrimary.lg, .zBadgeInfo.lg, .zBadgeSuccess.lg, .zBadgeWarning.lg, .zBadgeDanger.lg
    padding .2em .6em
.zBadge.xl, .zBadgePrimary.xl, .zBadgeInfo.xl, .zBadgeSuccess.xl, .zBadgeWarning.xl, .zBadgeDanger.xl
    padding .2em .6em