.zWrapLg
    margin 0 auto
    width 1200px
.zWrap
    margin 0 auto
    width 1000px
.bgPrimary
    background #0e90d2
a
    color inherit
    text-decoration none
.zCode
    border 1px solid #dedede
    background #f5f2f0
    word-break break-all
    word-wrap break-word
    white-space pre-wrap
    font-size 13px
    color #555
    padding 0.5em 1.2em
    line-height 1.4em
    pre 
        margin 0
        padding 0

.zHref
    color #0e90d2
    &:hover
        color #10a0ea
        
.borderRight
    border-right 1px solid #ddd

.tRed
    color #c7254e
.tMuted
    color #888
.bgGray
    background-color #BABFCD

// .primary 
//     background-color rgba(51,122,180,.35)
//     color #0b76ac
// .info 
//     background-color #d9edf7
//     color #31708
// .success
//     color #5eb95e
//     background-color rgba(94,185,94,.115)
// .warning 
//     color #f37b1d
//     background-color rgba(243,123,29,.115)
// .danger
//     color #dd514c
//     background-color #f2dede
// .gray 
//     background-color #BABFCD
//     color #fff


.zExample
    border 1px solid #dfdfdf
    padding 3px 10px 0 10px
    &:before
        content 'DEMO'
        font-size 12px 
        color #888
    .zCode 
        margin-left -10px
        margin-right -10px
        border 0

.borderBottom
    border-bottom 1px solid #ddd