@import 'params'

.zIptGroup
    padding 0
    position relative
    box-sizing border-box
    font-size 0
    word-spacing -4px
    *
        box-sizing border-box
        letter-spacing 0
    .zIptPrefix
        vertical-align middle
        display inline-block
        height 34px
        border 1px solid #ddd
        border-right 0
        min-width 45px
        z-index 2
        text-align center
        padding-top 0
        padding-bottom 0
        position relative
        font-size 14px
    .zIptPrefix:not(.zBtnPrimary):not(.zBtn):not(.zBtnInfo):not(.zBtnSuccess):not(.zBtnWarning):not(.zBtnDanger)
        background #eee
        color #666
        line-height 34px
    input + .zIptPrefix
        border-right 1px solid #ddd;
        border-left 0