
$primary = #4FC1E9
$primary1 = #3BAFDA
$info = #3BB4F2
$info1 = #3BB4F2
$success = #A0D468
$success1 = #80B448
$warning = #f2ca4c
$warning1 = #F6BB42
$danger = #ED5666
$danger1 = #EC4859
$gray = #434A54


