
$primary = #0099D8
$primary1 = #0083C0
$info = #1ABC9C
$info1 = #00AEA2
$success = #72BA00
$success1 = #80B30F
$warning = #e9c311
$warning1 = #FCB322
$danger = #ff6e72
$danger1 = #E95255
$dangerText = #905
$gray = #434A54


$primaryLight = #00B3FE
$infoLight = #2ECC71
$purper = #9B59B6


