@import 'params'

.zTable
	border-spacing 0
	tr 
		height 35px
	td, th 
		padding-left 10px 
		text-align left
		border-bottom 1px solid #eee
	th 
		border-bottom 2px solid #eee
	thead 
		background $primary
		color #fff
		box-shadow 0 2px 3px rgba(100, 100, 100, .2)
	tbody tr:last-child td 
		border-bottom 0
	box-sizing border-box
	*
		box-sizing border-box
.zTableHover
	tbody tr:hover 
		background #f0f0f0
	tr.gray:hover 
		background #BABFCD
		
.zTableStrip
	tbody 
		tr:nth-child(2n)
			background #f9f9f9