.zCollapse, .zCollapse *
    box-sizing border-box
.zCollapse
    max-height 40px
    box-sizing border-box
    overflow hidden
    box-sizing border-box
    transition max-height .25s ease-out
    .zPanelHd
        cursor pointer
.zCollapse.active
    max-height 2000px
    transition max-height .2s ease-in
    