@import '../params'

.zDatepickerWrap
    box-shadow 0 5px 10px rgba(0,0,0,.2)
    position absolute
    top 0
    left 0
    z-index 1060
    background-color #fff
    box-sizing border-box
    border-width 1px
    border-style solid
    padding 0
    border-color #ddd
    min-width 200px
    *
        box-sizing border-box
    
    &:before
        display block
        position absolute
        left 15px
        margin-left -6px
        bottom -6px
        content ''
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-top 6px solid transparent
        border-top-color #fff
    .zDatepickerHd
        background-color #3bb4f2
        color #fff
        margin 0
        padding 0
        clear both
        height 42px
        text-align center
        padding 5px 50px
        font-size 16px
        i 
            user-select none
            font-weight 700
            display inline-block
            width 36px 
            height 32px 
            text-align center 
            line-height 32px
            position absolute
            top 5px 
            left 0
            cursor pointer
            transparent all .3s
            &:hover 
                background-color rgba(250, 250, 250, .15)
                color rgba(0, 0, 0, .5)
        i.iNext
            left auto
            right 0
        .zDatepickerHdContent
            user-select none
            display block
            text-align center
            cursor pointer
            height 32px 
            line-height 32px
            &:hover 
                background-color rgba(250, 250, 250, .15)
                color rgba(0, 0, 0, .5)
    .zDatepickerBd
        width auto
        white-space normal
        padding-bottom 6px
        position relative
        >span 
            display inline-block
            width 45px 
            height 30px 
            line-height 30px 
            text-align center
            cursor pointer
            &:hover 
                background-color #f0f0f0         
        >span.active
            background-color #f0f0f0
            color #0084c7
            font-weight 500
        >span.weekOld
            color #89d7ff
        .timeInfo
            color #89d7ff
            position absolute
            right 12px
            bottom 4px
            i 
                color inherit
                font-size 12px 
                margin-right 4px

    .zDatepickerView
        display none
        position relative
        width 240px
        p 
            margin 0
        span 
            display inline-block
            width 80px
            height 40px 
            line-height 40px 
            text-align center
            &:hover
                background-color #f0f0f0
                cursor pointer
    .viewWeek, .viewDay, .viewMinute, .viewSecond
        width 360px
        span
            width 45px 
            height 30px
            line-height 30px
    .viewDay
        width 316px 
        p span
            color #0c80ba
            &:hover 
                background-color transparent !important
                cursor default
            
    .viewHour
        width 280px   
        span
            width 70px   
            height 35px 
            line-height 35px 
    .active
        background-color #f0f0f0
        color #0c80ba
    .old, .new
        color #89d7ff
    .disable 
        color #999
    .zDatepickerInfo
        color #aaa 
        position absolute
        right 20px 
        bottom 0px
        &:hover
            cursor default !important
            background-color transparent !important
.zDatepickerWrap.bottom
    &:before
        bottom auto
        top -6px
        border-top 0
        border-bottom 6px solid transparent
        border-bottom-color #3bb4f2
.zDatepickerWrap.right
    &:before
        left auto
        right 15px

//红色主题
.zDatepickerWrap[data-theme="danger"]
    .zDatepickerHd
        background-color $danger 
    .zDatepickerBd
        >span.active
            color #c10802 
        >span.weekOld
            color #f59490
        >.timeInfo
            color #f59490
.zDatepickerWrap.bottom[data-theme="danger"]
    &:before
        border-bottom-color $danger 

//绿色主题
.zDatepickerWrap[data-theme="success"]
    .zDatepickerHd
        background-color $success 
    .zDatepickerBd
        >span.active
            color #1b961b 
        >span.weekOld
            color #94df94
        >.timeInfo
            color #94df94
.zDatepickerWrap.bottom[data-theme="success"]
    &:before
        border-bottom-color $success 


//橙色主题
.zDatepickerWrap[data-theme="warning"]
    .zDatepickerHd
        background-color $warning 
    .zDatepickerBd
        >span.active
            color #aa4b00 
        >span.weekOld
            color #ffad6d
        >.timeInfo
            color #ffad6d
.zDatepickerWrap.bottom[data-theme="warning"]
    &:before
        border-bottom-color $warning 