@keyframes progress 
    0% 
        width 0%
    5%
        width 30%
    10% 
        width 40%
    15%
        width 45%
    25% 
        width 60%
    35% 
        width 65%
    100% 
        width 98%
@keyframes progressDone
    0%
        opacity 1
    100%
        opacity 0
        box-shadow 0 0 4px rgba(170, 208, 107, 1)
        
.zProgressTop
    position fixed
    width 98%
    top 0
    height 2px 
    background-color #AAD06B
    box-shadow 0 0 10px rgba(170, 208, 107, .3)
    animation-name progress
    animation-duration 100s
    animation-timing-function cubic-bezier(0, 0.1, 0.3, 1)
    &:before
        font-family "icomoon"
        content ""
    i 
        position fixed
        top 10px 
        right 10px
        font-size 20px
        color #AAD06B
        box-shadow 0 0 3px rgba(170, 208, 107, .3)
.zProgressTop.zProgressTopDone
    width 100%
    opacity 0
    animation-duration .8s
    animation-name progressDone