@import url('../icons/style.css')
.zAlertDanger, .zAlertInfo, .zAlertPrimary, .zAlertWarning, .zAlert, .zAlertSuccess
	box-sizing border-box
	display block
	width 100%
	color #fff
	border 1px solid #dfdfdf
	padding 10px 15px
	box-sizing border-box
	.icon-close
		float right 
		color #dfdfdf
		font-weight 100
		font-size 12px 
		margin-top 2px
		text-shadow 0 1px 0 #fff
		cursor pointer
	*
		box-sizing border-box
		
.zAlert
	background-color #eee
.zAlertWarning
	background-color #f37b1d
	border-color #e56c0c
.zAlertPrimary
	background-color #0e90d2
	border-color #0c7cb5
.zAlertInfo
	background-color #f37b1d
	border-color #e56c0c
.zAlertDanger
	background-color #f37b1d
	border-color #e56c0c
.zAlertSuccess
	background-color #dd514c
	border-color #d83832
