.zRadio, .zRadioWarning, .zRadioDanger
    position relative
    input[type="radio"]
        margin-right 6px
        opacity 0
    span
        transition all .2s
        &:before 
            content ''
            display none
            position absolute
            left 6px
            top 6px
            width 4px
            height 4px 
            background-color #3B99FC
            border-radius 200px
        &:after
            content ''
            display block
            position absolute
            left 0px
            top 0
            width 10px
            height 10px 
            border-radius 200px
            border 3px solid #ddd
    input[type='radio']:checked + :before
        display block
    input[type='radio']:checked + :after
        border 3px solid #3B99FC
    
    input[type='radio']:checked + *
        color #3B99FC

.zRadioWarning
    span
        &:before  
            background-color #f37b1d
    input[type='radio']:checked + :after
        border 3px solid #f37b1d
    input[type='radio']:checked + *
        color #f37b1d

.zRadioDanger
    span
        &:before  
            background-color #dd514c
    input[type='radio']:checked + :after
        border 3px solid #dd514c
    input[type='radio']:checked + *
        color #dd514c
        

.zCheckbox, .zCheckboxWarning, .zCheckboxDanger
    position relative
    input[type="checkbox"]
        margin-right 6px
        opacity 0
    span
        transition all .2s
        &:before 
            content ''
            display block
            position absolute
            left 0
            top 2px
            width 13px
            height 13px 
            border-radius 2px
            background-color #BDC3C7
        &:after
            content 'へ'
            color #fff
            display none
            position absolute
            left 0
            top -3px
            font-weight 700
            transform rotateX(180deg)
    
    input[type='checkbox']:checked 
        + *:before
            background-color #3B99FC
        + *:after
            display block
        + *
            color #3B99FC
.zCheckboxWarning
    input[type='checkbox']:checked 
        + *:before
            background-color #f37b1d
        + *
            color #f37b1d
.zCheckboxDanger
    input[type='checkbox']:checked 
        + *:before
            background-color #dd514c
        + *
            color #dd514c

.zIpt
    border 1px solid #ddd
    border-radius 0
    height 34px
    padding 6px 12px
    font-size 14px
    line-height 1.42857143
    color #555
    transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
    display inline-block
    &:focus
        outline none
        border 1px solid rgba(69, 153, 262, .8)
        box-shadow 0 0 8px rgba(69, 153, 262, .4)

select.zIpt
    appearance none
    -webkit-appearance none
    -moz-appearance none
    -ms-appearance none
    background url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+')100% center no-repeat 
    padding-right 20px
    
.zToggle
    position relative
    display inline-block
    input[type="checkbox"]
        opacity 0
        position absolute
        left 100%
        top 0
        display block
        width 55px
        height 22px
        z-index 2
        cursor pointer
    span
        float left
        padding-right 6px
        &:before
            box-sizing border-box
            content 'OFF'
            color #fff 
            text-align left
            display block
            width 55px
            padding-left 23px
            font-size 12px
            padding-right 4px 
            height 22px
            line-height 22px 
            white-space nowrap
            background #CBD2D8
            border-radius 28px 
            position absolute
            left 100% 
            top 0
            transition all .2s
        &:after 
            content ''
            display block
            width 18px 
            height 18px
            border-radius 20px 
            position absolute
            left 100%
            top 2px 
            margin-left 3px
            background #7F8B97
            transition all .2s
    
    input[type="checkbox"]:checked
        + *:before
            content 'ON'
            color #0e90d2
            padding-left 10px
        + *:after
            background-color #0e90d2
            margin-left 34px
    
    