.zCol 
	overflow hidden
	clear both
.zCol1, .zCol2, .zCol3, .zCol4, .zCol5, .zCol6, .zCol7, .zCol8, .zCol9, .zCol10, .zCol11
	float left 
	margin 0
	padding 0 1.5em
	vertical-align top
	white-space pre-wrap
	position relative
	height 100%
.zCol1
	width 8.33333333%
.zCol2
	width 16.66666667%
.zCol3
	width 25%
.zCol4
	width 33.33333333%
.zCol5
	width 41.66666667%
.zCol6
	width 50%
.zCol7
	width 58.33333333%
.zCol8
	width 66.66666667%
.zCol9
	width 75%
.zCol10
	width 83.33333333%
.zCol11
	width 91.66666667%
	
// 均分网格--
.zColAvg4, .zColAvg2, .zColAvg3, .zColAvg5, .zColAvg6
	overflow hidden
	white-space nowrap
	position relative
	.zColAvg
		display inline-block
		float left
		padding 5px
		vertical-align top
		height 100%
.zColAvg2 .zColAvg
	width 50%
.zColAvg3 .zColAvg
	width 33.3333333%
.zColAvg4 .zColAvg
	width 25%
.zColAvg5 .zColAvg
	width 20%
.zColAvg6 .zColAvg
	width 16.6666667%
