.zSidebar
	display inline-block
	width auto 
	font-size 14px
	min-width 200px
	border-right 1px solid #dfdfdf
	box-sizing border-box
	*
		box-sizing border-box
	dt
		margin-left 0
		padding-left 15px
		margin-bottom 5px
	dt 
		border-left 3px solid #3BB4F2
		color #555
		font-weight 600
		font-size 16px
	dd 
		color #888
		cursor pointer
		padding 0
		margin 0
		white-space nowrap
		a
			padding-left 17px
			text-decoration none
			color inherit
			display inline-block
			height 30px 
			line-height 30px
			width 100%
			&:hover
				background #eee
	dd a.active
		background #d9edf7
		color #31708f