extends ../layout

block content
    include ../common/banner/main

    .zWrap.pt30
        .zCol3
            include ../common/sidebar/css
        .zCol9.pl20
            h3(data-active="表单") Form 

            h4 1. 单选框
            p 在外层label上加上 <font class="tRed">.zRadio*</font> ，文本写在一个span里面即可

            .zExample.mt20
                p.mt20 你是猪吗？
                p.pl20
                    label.zRadio.mr30
                        input(type="radio", name="zRadioTest", checked) 
                        span 是
                    label.zRadio.mr30
                        input(type="radio", name="zRadioTest") 
                        span 不是
                    label.zRadio
                        input(type="radio", name="zRadioTest") 
                        span 你妹，你才是
                p.pl20
                    label.zRadioWarning.mr30
                        input(type="radio", name="zRadioTest2", checked) 
                        span 是
                    label.zRadioWarning.mr30
                        input(type="radio", name="zRadioTest2") 
                        span 不是
                    label.zRadioWarning
                        input(type="radio", name="zRadioTest2") 
                        span 你妹，你才是
                p.pl20
                    label.zRadioDanger.mr30
                        input(type="radio", name="zRadioTest3", checked) 
                        span 是
                    label.zRadioDanger.mr30
                        input(type="radio", name="zRadioTest3") 
                        span 不是
                    label.zRadioDanger
                        input(type="radio", name="zRadioTest3") 
                        span 你妹，你才是
                .zCode
                    code.language-jade.
                        p
                            label.zRadio.mr30
                                input(type="radio", name="zRadioTest") 
                                span 是
                            ...
                        p
                            label.zRadioWarning.mr30
                                input(type="radio", name="zRadioTest2", checked) 
                                span 是
                            ...
                        p
                            label.zRadioDanger.mr30
                                input(type="radio", name="zRadioTest3", checked) 
                                span 是
                            ...

            h4 2. 复选框
            p 在外层label上加上 <font class="tRed">.zCbx*</font> ，文本写在一个span里面即可
            
            .zExample.mt20
                p.mt20 你喜欢干的事情：
                p.pl20
                    label.zCheckbox.mr30
                        input(type="checkbox", name="zCbxTest", checked) 
                        span 做梦
                    label.zCheckbox.mr30
                        input(type="checkbox", name="zCbxTest") 
                        span 赚钱
                    label.zCheckbox
                        input(type="checkbox", name="zCbxTest") 
                        span 没有了
                p.pl20
                    label.zCheckboxWarning.mr30
                        input(type="checkbox", name="zCbxTest2") 
                        span 做梦
                    label.zCheckboxWarning.mr30
                        input(type="checkbox", name="zCbxTest2", checked) 
                        span 赚钱
                    label.zCheckboxWarning
                        input(type="checkbox", name="zCbxTest2") 
                        span 没有了
                p.pl20
                    label.zCheckboxDanger.mr30
                        input(type="checkbox", name="zCbxTest3") 
                        span 做梦
                    label.zCheckboxDanger.mr30
                        input(type="checkbox", name="zCbxTest3") 
                        span 赚钱
                    label.zCheckboxDanger
                        input(type="checkbox", name="zCbxTest3", checked) 
                        span 没有了
                .zCode
                    code.language-jade.
                        p.mt20 你喜欢干的事情：
                        p
                            label.zCheckbox.mr30
                                input(type="checkbox", name="zCbxTest", checked) 
                                span 做梦
                            ...
                        p
                            label.zCheckboxWarning.mr30
                                input(type="checkbox", name="zCbxTest2") 
                                span 做梦
                            ...
                        p
                            label.zCheckboxDanger.mr30
                                input(type="checkbox", name="zCbxTest3") 
                                span 做梦
                            ...

            
            h4 3. Toggle
            p 在外层label上加上 <font class="tRed">.zCbx*</font> ，文本写在一个span里面即可
            .zExample.mt20
                p.mt20
                    .zToggle
                        input(type="checkbox", checked)
                        span 打开了
                .zCode
                    code.language-jade.
                        .zToggle
                            input(type="checkbox", checked)
                            span 打开了

            h4 4. 输入框
            p 在表单元素上加上class <font class="tRed">.zIpt</font> 即可
            .zExample.mt20
                form.mt20.pl10 注册
                    input.zIpt.w.mt20(type="text", placeholder="Email")
                    br
                    input.zIpt.w.mt20(type="password", placeholder="Password")
                    br
                    select.zIpt.w200.mt20
                        option 中国
                        option 美国
                        option 日本
                    br
                    button.mt20.zBtnPrimary(type="button") 提 交
                .zCode.mt20
                    code.language-jade.
                        form.mt20 注册
                            input.zIpt.w.mt20(type="text", placeholder="Email")
                            br
                            input.zIpt.w.mt20(type="password", placeholder="Password")
                            br
                            select.zIpt.w200.mt20
                                option 中国
                                option 美国
                                option 日本
                            br
                            button.mt20.zBtnPrimary(type="button") 提 交

            .cb.h50
