
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */

/* line 2 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup button:focus,
.zBtnGroup button.active {
  box-shadow: inset 0 100px 25px rgba(0,0,0,0.2);
}

/* line 4 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup >button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

/* line 7 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup >button.zCircle:first-child,
.zBtnGroup >button.zRadius:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 11 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup >button.zCircle:last-child,
.zBtnGroup >button.zRadius:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 15 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroupVertical {
  display: inline-block;
}

/* line 17 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroupVertical >button {
  display: block;
}

/* line 20 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */

/* line 21 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zBtnDrop {
  position: relative;
}

/* line 23 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */

/* line 24 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zBtnDrop:active .zDropdown,
.zBtnGroup .zBtnDrop:focus .zDropdown {
  display: block;
}

/* line 26 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */

/* line 27 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zBtnDrop.active .zDropdown {
  display: block;
}

/* line 30 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zIconUp {
  border-bottom-color: #fff;
}

/* line 32 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zIconDown {
  border-top-color: #fff;
}

/* line 34 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zIconLeft {
  border-right-color: #fff;
}

/* line 36 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.zBtnGroup .zIconRight {
  border-left-color: #fff;
}

/* line 40 : /Users/elvis/bitbucket/tinyUI/public/css/buttonGroup.styl */
.borderBottom {
  border-bottom: 1px solid #ddd;
}
