
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown {
  animation-duration: 0.15s;
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style-type: none;
  padding: 5px 0;
  font-size: 12px;
  color: #555;
}

/* line 12 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */

/* line 13 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown li a {
  color: inherit;
  padding: 0 15px;
  line-height: 30px;
  display: block;
  text-decoration: none;
  text-align: left;
  transition: background 0.15s;
}

/* line 21 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */

/* line 22 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown li a:not(.active):hover {
  background-color: #eee;
}

/* line 24 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown li a.active {
  background-color: #0e90d2;
  color: #fff;
}

/* line 27 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown:before,
.zDropdown:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/* line 36 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zDropdown:before {
  border-top: 6px solid #ccc;
}

/* line 39 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconUp + .zDropdown {
  bottom: 100%;
  margin-bottom: 10px;
  animation-name: fadeInDown;
}

/* line 43 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconUp + .zDropdown:before,
.zIconUp + .zDropdown:after {
  left: 20px;
  bottom: -6px;
}

/* line 46 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconUp + .zDropdown:before {
  bottom: -7px;
}

/* line 49 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconDown + .zDropdown {
  top: 100%;
  margin-top: 10px;
  animation-name: fadeInUp;
}

/* line 53 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconDown + .zDropdown:before,
.zIconDown + .zDropdown:after {
  left: 20px;
  top: -6px;
  border-top: 0;
  border-bottom: 6px solid #fff;
}

/* line 58 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconDown + .zDropdown:before {
  top: -7px;
  border-top: 0;
  border-bottom: 6px solid #ccc;
}

/* line 63 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconRight + .zDropdown {
  left: 100%;
  top: -12px;
  margin-left: 10px;
  animation-name: fadeInDown;
}

/* line 68 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconRight + .zDropdown:before,
.zIconRight + .zDropdown:after {
  top: 20px;
  left: -6px;
  border-left: 0;
  border-right: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

/* line 75 : /Users/elvis/bitbucket/tinyUI/public/css/dropdown.styl */
.zIconRight + .zDropdown:before {
  left: -7px;
  border-right: 6px solid #ccc;
}
