
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol {
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
}

/* line 5 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol * {
  box-sizing: border-box;
}

/* line 7 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol1,
.zCol2,
.zCol3,
.zCol4,
.zCol5,
.zCol6,
.zCol7,
.zCol8,
.zCol9,
.zCol10,
.zCol11 {
  float: left;
  margin: 0;
  padding: 0 1.5em;
  vertical-align: top;
  white-space: pre-wrap;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

/* line 16 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol1 *,
.zCol2 *,
.zCol3 *,
.zCol4 *,
.zCol5 *,
.zCol6 *,
.zCol7 *,
.zCol8 *,
.zCol9 *,
.zCol10 *,
.zCol11 * {
  box-sizing: border-box;
}

/* line 18 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol1 {
  width: 8.33333333%;
}

/* line 20 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol2 {
  width: 16.66666667%;
}

/* line 22 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol3 {
  width: 25%;
}

/* line 24 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol4 {
  width: 33.33333333%;
}

/* line 26 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol5 {
  width: 41.66666667%;
}

/* line 28 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol6 {
  width: 50%;
}

/* line 30 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol7 {
  width: 58.33333333%;
}

/* line 32 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol8 {
  width: 66.66666667%;
}

/* line 34 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol9 {
  width: 75%;
}

/* line 36 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol10 {
  width: 83.33333333%;
}

/* line 38 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zCol11 {
  width: 91.66666667%;
}

/* line 42 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg4,
.zColAvg2,
.zColAvg3,
.zColAvg5,
.zColAvg6 {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
}

/* line 47 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg4 *,
.zColAvg2 *,
.zColAvg3 *,
.zColAvg5 *,
.zColAvg6 * {
  box-sizing: border-box;
}

/* line 49 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg4 .zColAvg,
.zColAvg2 .zColAvg,
.zColAvg3 .zColAvg,
.zColAvg5 .zColAvg,
.zColAvg6 .zColAvg {
  display: inline-block;
  float: left;
  padding: 5px;
  vertical-align: top;
  height: 100%;
}

/* line 55 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg2 .zColAvg {
  width: 50%;
}

/* line 57 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg3 .zColAvg {
  width: 33.3333333%;
}

/* line 59 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg4 .zColAvg {
  width: 25%;
}

/* line 61 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg5 .zColAvg {
  width: 20%;
}

/* line 63 : /Users/elvis/bitbucket/tinyUI/public/css/grid.styl */
.zColAvg6 .zColAvg {
  width: 16.6666667%;
}
