
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */

/* line 2 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */
.zPager >a {
  display: inline-block;
  border: 1px solid #ddd;
  color: #0e90d2;
  height: 32px;
  line-height: 30px;
  text-align: center;
  min-width: 38px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
}

/* line 13 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */

/* line 14 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */
.zPager >a:not(.disabled):not(.active):hover {
  background-color: #eee;
}

/* line 16 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */
.zPager >a.active {
  background-color: #0e90d2;
  color: #fff;
  border-color: #0e90d2;
}

/* line 20 : /Users/elvis/bitbucket/tinyUI/public/css/pager.styl */
.zPager >a.disabled {
  color: #aaa;
  cursor: not-allowed;
}
