.zPanel,
.zPanelPrimary,
.zPanelInfo,
.zPanelSuccess,
.zPanelWarning,
.zPanelDanger {
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.zPanel *,
.zPanelPrimary *,
.zPanelInfo *,
.zPanelSuccess *,
.zPanelWarning *,
.zPanelDanger * {
  box-sizing: border-box;
}
.zPanel .zPanelHd,
.zPanelPrimary .zPanelHd,
.zPanelInfo .zPanelHd,
.zPanelSuccess .zPanelHd,
.zPanelWarning .zPanelHd,
.zPanelDanger .zPanelHd {
  background-color: #f5f5f5;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: block;
}
.zPanel .zPanelBd,
.zPanelPrimary .zPanelBd,
.zPanelInfo .zPanelBd,
.zPanelSuccess .zPanelBd,
.zPanelWarning .zPanelBd,
.zPanelDanger .zPanelBd {
  padding: 15px;
  border-top: 1px solid #ddd;
}
.zPanelPrimary {
  border: 1px solid #10a0ea;
}
.zPanelPrimary .zPanelHd {
  background-color: #0e90d2;
  color: #fff;
}
.zPanelInfo {
  border: 1px solid #46b8da;
}
.zPanelInfo .zPanelHd {
  background-color: #5bc0de;
  color: #fff;
}
.zPanelSuccess {
  border: 1px solid #c9e7c9;
}
.zPanelSuccess .zPanelHd {
  background-color: rgba(94,185,94,0.2);
  color: #5eb95e;
}
.zPanelWarning {
  border: 1px solid #fbd0ae;
}
.zPanelWarning .zPanelHd {
  background-color: rgba(243,123,29,0.2);
  color: #f37b1d;
}
.zPanelDanger {
  border: 1px solid #f5cecd;
}
.zPanelDanger .zPanelHd {
  background-color: rgba(221,81,76,0.2);
  color: #dd514c;
}
