
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanel,
.zPanelPrimary,
.zPanelInfo,
.zPanelSuccess,
.zPanelWarning,
.zPanelDanger {
  border: 1px solid #ddd;
}

/* line 3 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanel .zPanelHd,
.zPanelPrimary .zPanelHd,
.zPanelInfo .zPanelHd,
.zPanelSuccess .zPanelHd,
.zPanelWarning .zPanelHd,
.zPanelDanger .zPanelHd {
  background-color: #f5f5f5;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  display: block;
}

/* line 12 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanel .zPanelBd,
.zPanelPrimary .zPanelBd,
.zPanelInfo .zPanelBd,
.zPanelSuccess .zPanelBd,
.zPanelWarning .zPanelBd,
.zPanelDanger .zPanelBd {
  padding: 15px;
  border-top: 1px solid #ddd;
}

/* line 16 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelPrimary {
  border: 1px solid #10a0ea;
}

/* line 18 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelPrimary .zPanelHd {
  background-color: #0e90d2;
  color: #fff;
}

/* line 21 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelInfo {
  border: 1px solid #46b8da;
}

/* line 23 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelInfo .zPanelHd {
  background-color: #5bc0de;
  color: #fff;
}

/* line 26 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelSuccess {
  border: 1px solid #c9e7c9;
}

/* line 28 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelSuccess .zPanelHd {
  background-color: rgba(94,185,94,0.2);
  color: #5eb95e;
}

/* line 31 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelWarning {
  border: 1px solid #fbd0ae;
}

/* line 33 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelWarning .zPanelHd {
  background-color: rgba(243,123,29,0.2);
  color: #f37b1d;
}

/* line 36 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelDanger {
  border: 1px solid #f5cecd;
}

/* line 38 : /Users/elvis/bitbucket/tinyUI/public/css/panel.styl */
.zPanelDanger .zPanelHd {
  background-color: rgba(221,81,76,0.2);
  color: #dd514c;
}
