
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar {
  display: inline-block;
  width: auto;
  font-size: 14px;
  min-width: 200px;
  border-right: 1px solid #dfdfdf;
  box-sizing: border-box;
}

/* line 8 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar * {
  box-sizing: border-box;
}

/* line 10 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dt {
  margin-left: 0;
  padding-left: 15px;
  margin-bottom: 5px;
}

/* line 14 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dt {
  border-left: 3px solid #3bb4f2;
  color: #555;
  font-weight: 600;
  font-size: 16px;
}

/* line 19 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dd {
  color: #888;
  cursor: pointer;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

/* line 25 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dd a {
  padding-left: 17px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

/* line 33 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dd a:hover {
  background: #eee;
}

/* line 35 : /Users/elvis/bitbucket/tinyUI/public/css/sidebar.styl */
.zSidebar dd a.active {
  background: #d9edf7;
  color: #31708f;
}
