.zWeekPicker {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  box-sizing: border-box;
}
.zWeekPicker * {
  box-sizing: border-box;
}
.zWeekPicker thead th {
  text-align: center;
  height: 36px;
  line-height: 36px;
  border-bottom: 2px solid #ededed;
}
.zWeekPicker thead .icon-arrow-left,
.zWeekPicker thead .icon-arrow-right {
  color: #666;
  vertical-align: middle;
  display: inline-block;
  width: 36px;
  line-height: 36px;
  font-size: 18px;
  cursor: pointer;
}
.zWeekPicker thead .icon-arrow-left:hover,
.zWeekPicker thead .icon-arrow-right:hover {
  color: #428bca;
}
.zWeekPicker thead .icon-arrow-left {
  float: left;
}
.zWeekPicker thead .icon-arrow-right {
  float: right;
}
.zWeekPicker td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 4px 16px;
  cursor: pointer;
}
.zWeekPicker td:hover {
  background: rgba(66,139,202,0.3);
}
.zWeekPicker td.active {
  background: #428bca;
  color: #fff;
}
