
/* line 1 : /Users/elvis/bitbucket/tinyUI/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/tinyUI/public/css/zIcon.styl */
.zIconUp,
.zIconDown,
.zIconLeft,
.zIconRight {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  overflow: visible;
}

/* line 13 : /Users/elvis/bitbucket/tinyUI/public/css/zIcon.styl */
.zIconUp {
  border-bottom-color: #aaa;
  border-top-width: 0;
}

/* line 16 : /Users/elvis/bitbucket/tinyUI/public/css/zIcon.styl */
.zIconDown {
  border-top-color: #aaa;
  border-bottom-width: 0;
}

/* line 19 : /Users/elvis/bitbucket/tinyUI/public/css/zIcon.styl */
.zIconLeft {
  border-right-color: #aaa;
  border-left-width: 0;
}

/* line 23 : /Users/elvis/bitbucket/tinyUI/public/css/zIcon.styl */
.zIconRight {
  border-left-color: #aaa;
  border-right-width: 0;
}
