extends ../layout

block content
    include ../common/banner/main

    .zWrap.pt30
        .zCol3
            include ../common/sidebar/js

        .zCol9.pl20
            h3(data-active="折叠面板") 折叠面板 Collapse 

            h4 1. 基本使用
            p 在.zPanel*元素上添加class <font class="tRed">.zCollapse</font> 即可。
            .zExample.mt20
                div.zPanel.zCollapse.mt10.active
                    h4.zPanelHd 面板标题
                    div.zPanelBd 面板使用很简单，内容写在 .zPanelBd 中，标题写在 .zPanelHd 中即可，事件是绑定在document上的。
                        p css中起高度作用的应该就是height以及line-height了吧！如果一个标签没有定义height属性(包括百分比高度)，那么其最终表现的高度一定是由line-height起作用，即使是IE6下11像素左右默认高度bug也是如此。待我慢慢叙来。
                        p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能有人会跟认为是：文字撑开的！文字占据空间，自然将div撑开。我一开始也是这样理解的，但是事实上，深入理解inline模型后，我发现，根本不是文字撑开了div的高度，而是line-height！要证明很简单(如下测试代码)：

                .zCode.mt20
                    code.language-jade.
                        div.zPanel.zCollapse.mt10.active
                            h4.zPanelHd 面板标题
                            div.zPanelBd 面板使用很简单，内容写在 ...
                                p css中起高度作用的应该就是height以及line-height了吧！...
                                p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能 ...

            h4 2. 分组的Collapse
            p 在相同分组的Panel上加上相同的属性 <font class="tRed">data-group</font> 即可。
            .zExample.mt20
                div.zPanel.zCollapse.mt10(data-group="collapse1")
                    h4.zPanelHd 面板标题
                    div.zPanelBd 面板使用很简单，内容卸载 .zPanelBd 中，标题写在 .zPanelHd 中即可，事件是绑定在document上的。
                        p css中起高度作用的应该就是height以及line-height了吧！如果一个标签没有定义height属性(包括百分比高度)，那么其最终表现的高度一定是由line-height起作用，即使是IE6下11像素左右默认高度bug也是如此。待我慢慢叙来。
                        p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能有人会跟认为是：文字撑开的！文字占据空间，自然将div撑开。我一开始也是这样理解的，但是事实上，深入理解inline模型后，我发现，根本不是文字撑开了div的高度，而是line-height！要证明很简单(如下测试代码)： 
                div.zPanel.zCollapse.active.mt10(data-group="collapse1")
                    h4.zPanelHd 面板标题2
                    div.zPanelBd 面板使用很简单，内容卸载 .zPanelBd 中，标题写在 .zPanelHd 中即可，事件是绑定在document上的。
                        p css中起高度作用的应该就是height以及line-height了吧！如果一个标签没有定义height属性(包括百分比高度)，那么其最终表现的高度一定是由line-height起作用，即使是IE6下11像素左右默认高度bug也是如此。待我慢慢叙来。
                        p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能有人会跟认为是：文字撑开的！文字占据空间，自然将div撑开。我一开始也是这样理解的，但是事实上，深入理解inline模型后，我发现，根本不是文字撑开了div的高度，而是line-height！要证明很简单(如下测试代码)： 
                .zCode.mt20
                    code.language-jade.
                        div.zPanel.zCollapse.mt10(data-group="collapse1")
                            h4.zPanelHd 面板标题
                            div.zPanelBd 面板使用很简单，内容写在 ...
                                p css中起高度作用的应该就是height以及line-height了吧！...
                                p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能 ...
                        div.zPanel.zCollapse.mt10.active(data-group="collapse1")
                            h4.zPanelHd 面板标题2
                            div.zPanelBd 面板使用很简单，内容写在 ...
                                p css中起高度作用的应该就是height以及line-height了吧！...
                                p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能 ...


            h4 3. 不同颜色
            p 颜色取决于panel上的class <font class="tRed">zPanel*</font> 。
            .zExample.mt20
                div.zPanel.info.zCollapse.mt10(data-group="collapse1")
                    h4.zPanelHd 面板标题
                    div.zPanelBd 面板使用很简单，内容卸载 .zPanelBd 中，标题写在 .zPanelHd 中即可，事件是绑定在document上的。
                        p css中起高度作用的应该就是height以及line-height了吧！如果一个标签没有定义height属性(包括百分比高度)，那么其最终表现的高度一定是由line-height起作用，即使是IE6下11像素左右默认高度bug也是如此。待我慢慢叙来。
                        p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能有人会跟认为是：文字撑开的！文字占据空间，自然将div撑开。我一开始也是这样理解的，但是事实上，深入理解inline模型后，我发现，根本不是文字撑开了div的高度，而是line-height！要证明很简单(如下测试代码)： 
                div.zPanel.danger.zCollapse.active.mt10(data-group="collapse1")
                    h4.zPanelHd 面板标题2
                    div.zPanelBd 面板使用很简单，内容卸载 .zPanelBd 中，标题写在 .zPanelHd 中即可，事件是绑定在document上的。
                        p css中起高度作用的应该就是height以及line-height了吧！如果一个标签没有定义height属性(包括百分比高度)，那么其最终表现的高度一定是由line-height起作用，即使是IE6下11像素左右默认高度bug也是如此。待我慢慢叙来。
                        p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能有人会跟认为是：文字撑开的！文字占据空间，自然将div撑开。我一开始也是这样理解的，但是事实上，深入理解inline模型后，我发现，根本不是文字撑开了div的高度，而是line-height！要证明很简单(如下测试代码)： 
                .zCode.mt20
                    code.language-jade.
                        div.zPanelInfo.zCollapse.mt10(data-group="collapse1")
                            h4.zPanelHd 面板标题
                            div.zPanelBd 面板使用很简单，内容写在 ...
                                p css中起高度作用的应该就是height以及line-height了吧！...
                                p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能 ...
                        div.zPanelDanger.zCollapse.mt10.active(data-group="collapse1")
                            h4.zPanelHd 面板标题2
                            div.zPanelBd 面板使用很简单，内容写在 ...
                                p css中起高度作用的应该就是height以及line-height了吧！...
                                p 这是个看上去很简单的问题，是理解line-height非常重要的一个问题。可能 ...


            .cb.h50
