extends ../layout

block content
    include ../common/banner/main

    .zWrap.pt30
        .zCol3
            include ../common/sidebar/js

        .zCol9.pl20
            h3(data-active="周选择组件") Weekpicker
            
            h4 1. 基本使用
            p 在Input上添加class <font class="tRed">.zWeekpicker</font> 即可使用。可以使用data-theme属性定义主题。可选的主题为：warning、success、danger
            .zExample.mt20
                p.mt20
                    p 周选择组件
                        input#zDatepicker0.zIpt.ml10(type="text")
                    p 默认无配置
                        input.zDatepicker.zIpt.ml10(type="text")
                    p 选择到年份
                        input#zDatepicker1.zIpt.ml10(type="text", readonly)
                    p 选择到月份
                        input#zDatepicker2.zIpt.ml10(type="text")
                    p 选择小时数
                        input#zDatepicker3.zIpt.ml10(type="text")
                    p 选择分钟数
                        input#zDatepicker4.zIpt.ml10(type="text")
                    p 选择秒针数
                        input#zDatepicker5.zIpt.ml10(type="text")
                script.
                    oc.datepicker('#zDatepicker0', {minView: 'Week'});
                    oc.datepicker('#zDatepicker1', {minView: 'Year'});
                    oc.datepicker('#zDatepicker2', {minView: 'Month'});
                    oc.datepicker('#zDatepicker3', {minView: 'Hour'});
                    oc.datepicker('#zDatepicker4', {minView: 'Minute'});
                    oc.datepicker('#zDatepicker5', {minView: 'Second'});
                .zCode.mt20
                    code.language-jade.
                        p.mt20
                            p 默认无配置
                                input.zDatepicker.zIpt.ml10(type="text")
                            p 选择到年份
                                input#zDatepicker1.zIpt.ml10(type="text", readonly)
                            p 选择到月份
                                input#zDatepicker2.zIpt.ml10(type="text")
                            p 选择小时数
                                input#zDatepicker3.zIpt.ml10(type="text")
                            p 选择分钟数
                                input#zDatepicker4.zIpt.ml10(type="text")
                            p 选择秒针数
                                input#zDatepicker5.zIpt.ml10(type="text")
                        script.
                            oc.datepicker('#zDatepicker1', {minView: 'Year'});
                            oc.datepicker('#zDatepicker2', {minView: 'Month'});
                            oc.datepicker('#zDatepicker3', {minView: 'Hour'});
                            oc.datepicker('#zDatepicker4', {minView: 'Minute'});
                            oc.datepicker('#zDatepicker5', {minView: 'Second'});

            h4 2. 主题色彩
            .zExample.mt20
                p.mt20
                    p 绿色
                        input#zDatepicker11.zIpt.ml10(type="text")
                    p 黄色
                        input#zDatepicker12.zIpt.ml10(type="text")
                    p 红色
                        input#zDatepicker13.zIpt.ml10(type="text")
                script.
                    oc.datepicker('#zDatepicker11', {theme: 'success'});
                    oc.datepicker('#zDatepicker12', {theme: 'warning'});
                    oc.datepicker('#zDatepicker13', {theme: 'danger'});
                .zCode.mt20
                    code.language-jade.
                        p.mt20
                            input#ipt.zIpt(type="text")
                        script.
                            oc.weekpicker('#ipt');
                            $('#ipt').on('change', function(){
                                console.log(this.value);
                            })
            
        
            .cb.h50
